@model Book
@{
    ViewData["Title"] = "Create";
}

<h1 class="row">Add new Book</h1><br/>
<div class = "row">

    <form method="POST" asp-action="Create">
        BookName<input asp-for="BookName" class="form-control">
        YearOfPublic<input asp-for="YearOfPublic" class="form-control">
        Summary<input asp-for="Summary" class="form-control">
        Content<input asp-for="Content" class="form-control">
        Languages<input asp-for="Languages" class="form-control">
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
</div>