@model Book
@{
    ViewData["Title"] = "Edit";
}

<h1 class="row">Edit Book</h1><br/>
<div class = "row">

    <form method="POST" asp-action="Edit">
        <input asp-for="BookId" hidden>
        BookName<input asp-for="BookName" class="form-control">
        BookCover<input asp-for="BookCover" class="form-control">
        YearOfPublic<input asp-for="YearOfPublic" class="form-control">
        Summary<input asp-for="Summary" class="form-control">
        Languages<input asp-for="Languages" class="form-control">
        Content<input asp-for="Content" class="form-control">
        UpdateDate<input asp-for="UpdateDate" type ="date" class="form-control">
        <input type="submit" value="Edit" class="btn btn-primary">
    </form>
</div>