@model Subject
@{
    ViewData["Title"] = "Delete";
}
<h1 class="row">Delete Subject</h1><br/>
<div class = "row">

    <form method="POST" asp-action="Delete">
        <input asp-for="SubjectId" hidden>
        SubjectName<input asp-for="Subname" class="form-control" readonly>
        <input type="submit" value="Delete" class="btn btn-primary">
    </form>
</div>