@model Major
@{
    ViewData["Title"] = "Create";
}

<h1 class="row">Create new Major</h1><br/>
<div class = "row">

    <form method="POST" asp-action="Create">
        MajorName<input asp-for="MajorName" class="form-control">
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
</div>