@model Major
@{
    ViewData["Title"] = "Edit";
}

<h1 class="row">Edit Major</h1><br/>
<div class = "row">

    <form method="POST" asp-action="Edit">
        <input asp-for="MajorId" hidden>
        MajorName<input asp-for="MajorName" class="form-control">
        <input type="submit" value="Edit" class="btn btn-primary">
    </form>
</div>