@model Book
@{
    ViewData["Title"] = "Delete";
}

<h1 class="row">Delete Book</h1><br/>
<div class = "row">

    <form method="POST" asp-action="Delete">
        <input asp-for="BookId" hidden>
        BookName<input asp-for="BookName" class="form-control" readonly>
        <input type="submit" value="Delete" class="btn btn-primary">
    </form>
</div>