@model Book
@{
    ViewData["Title"] = "Edit";
}

<head>
    <meta charset="UTF-8">
    <title>Book Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" />
    <link rel="stylesheet" href="~/plugins/OwlCarousel2-2.2.1/animate.css" />
    <link rel="stylesheet" href="~/plugins/jquery-ui-1.12.1.custom/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>>
    <link rel="stylesheet" href="~/styles/manage.css" />

</head>

<div class="super_container">

    <!-- Header -->

    <header class="header trans_300">

        <!-- Main Navigation -->

        <div class="main_nav_container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="logo_container">
                            <a asp-controller="Home" asp-action="Index">F<span>E-BOOK</span></a>
                        </div>
                        <nav class="navbar">
                            <div>
                                <a class="home" asp-controller="Home" asp-action="Index">HOME</a>
                                <div class="dropdown">
                                    <button class="dropbtn">Major</button>
                                    <div class="dropdown-content">
                                        <a href="#">Software Engineering</a>
                                        <a href="#">Graphic Design</a>
                                        <a href="#">Business Administration</a>
                                    </div>
                                </div>
                            </div>
                            <form asp-controller="Home" asp-action="Index">
									<div class="search-bar grid-container">
										<input type="search" class="form-control rounded" name="SearchString"
											placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
										<button type="submit" value="Filter" class="btn">Search</button>
									</div>
								</form>
                            <ul class="navbar_user">
                                <div class="menu">
                                    <img src="~/images/menu.png" alt="">
                                    <div class="dropdown-content">
                                        <a asp-controller="Account" asp-action="ProfileUser">Profile</a>
                                            <a asp-controller="Book" asp-action="Index">Manage Book</a>
                                            <a asp-controller="Account" asp-action="Index">Manage User</a>
                                            <a asp-controller="Major" asp-action="Index">Manage Major</a>
                                            <a asp-controller="Subject" asp-action="Index">Manage Subject</a>
                                            <a asp-controller="Author" asp-action="Index">Manage Author</a>
                                            <a asp-controller="Home" asp-action="Logout">Logout</a>
                                    </div>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- -->
    <div class="container product_section_container">
        <div class="row">

            <body>
                <div class="container">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2>Edit Books</h2>
                                </div>
                            </div>
                        </div>

                        <thead>
                            <tr>
                                <form method="POST" asp-action="Edit" enctype="multipart/form-data">
                                    <input asp-for="BookId" name="bookId" type="text" hidden>
                                    Book Name<input asp-for="BookName" name="bookName" type="text" class="form-control">
                                    Book Cover: <span>@Model.BookCover</span>
                                    <input name="bookCover" type="file" class="form-control" accept="images/*">
                                    Year Of Public<input asp-for="YearOfPublic" name="yearOfPublic" type="text"
                                        class="form-control">
                                    Summary <input asp-for="Summary" name="summary" class="form-control">
                                    Languages <input asp-for="Languages" name="languages" type="text"
                                        class="form-control">
                                    Content: <span>@Model.Content</span>
                                    <input asp-for="Content" name="bookContent" type="file" accept="application/pdf"
                                        class="form-control">
                                    <div style="margin-top:2%;margin-left:45%;margin-right:0%">
                                        <a asp-action="Edit"><button class="btn btn-success">Save</button></a>
                                    </div>
                                </form>

                                </tbody>
                    </div>
                </div>
            </body>
            <!-- Footer -->



            </html>
            <!-- partial -->
            <script src="~/js/script.js"></script>



            </html>
